
/* Form */
input {
    border: 1px solid #D5D4D4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
label {

    font-weight: 500;
}

/* Button */
.cancel-btn {
    margin-right: 10px;

}
button.btn.btn-info.text-light {
    background-color: #1BA2B9;
    border-color: #1BA2B9;

}


/* Alert */
.a-message {
    font-size: 12px;
    color: red;
}

/* Global */
.font-500 {
    font-weight: 500 !important;
}