.form-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 10em;
}

.form-container button {
  margin-top: 0.5em;
  margin-right: 0.4em;
}
.error {
  padding-top: 1em;
}
.error h4 {
  font-size:small;
  color: red;
}